body {
    background-color: #ffffffc1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
main {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
}
.card{
    background-color: rgb(191, 187, 187);
    padding: 20px;
    margin-bottom:20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.card h3 {
    margin-top: 0;
}

.button {
    display: inline-block;
    padding: 6px 8px;
    background-color: #055ebe;
    color: white;
    text-decoration: none;
    border: 2px solid #8e0f0f;
    border-radius: 15px;
    cursor: pointer;
    font-size: 13px;
    margin-bottom: 5px;
}
.button:hover {
    background-color: #000000;
}
.small-text {
    font-size: 14px; 
    font-weight: normal;
}
.strong-text {
    font-size: 25px; 
    font-weight: bold;
}