body {
    background-color: #ffffffc1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
main {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
}
.card{
    background-color: rgb(241, 240, 240);
    padding: 20px;
    margin-bottom:20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.card h3 {
    margin-top: 0;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #3170b4;
    color: white;
    text-decoration: none;
    border: 1px solid #007BFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.button:hover {
    background-color: #444547;
}
.small-text {
    font-size: 14px; /* oder z.B. 0.8em */
    font-weight: normal;
}
.strong-text {
    font-size: 25px; /* oder z.B. 0.8em */
    font-weight: bold;
}