<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tippspiel{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Übersicht</h1>
        {% if request.endpoint not in ['login', 'home'] %}
         
    
        {% endif %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>