{% extends "base.html" %}

{% block title %}Tipprunde erstellen{% endblock %}

{% block content %}
<section class="card">
    <h2> Neue Tipprunde erstellen</h2>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

    <form  method="POST">
        <label for="round_name">Name der Tipprunde:</label><br>
        <input type="text" id="round_name" name="round_name" placeholder="z.B. Büro-Wettrunde"required><br><br>

        <label for="description">Beschreibung:</label><br>
        <input id="description" name="description" placeholder="z.B. Sportart, Rewards" required><br><br>

        <button type="submit" class="button">Erstellen</button>

    <p><a href="/dashboard" class="button">Zurück </a></p>
        </form>
</section>
{% endblock %}