{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    

    <section>
        <h3>Neues Wettspiel</h3>
        <p>Erstelle eine neue Wettrunde.</p>
        <p><a href="/create-round">Neues Tippspiel erstellen</a>/p>
    </section>

    <section>
        <h3>Wettspiel beitreten</h3>
        <form method="POST">
            <label for="round_name">Name der Wettrunde:</label><br>
            <input type="text" id="round_name" name="round_name" required><br><br>
            <button type="submit">Beitreten</button>
        </form>
    </section>

    <section>
        <h3>Meine Wettspiele</h3>
        <ul>
            <li><a href="/tippspiel">Tippspiel 1</a></li>
        </ul>
    </section>
{% endblock %}