{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    

    <section class="card">
        <h3>Neues Wettspiel</h3>
        <p>Erstelle eine neue Wettrunde.</p>
        <p><a href="/create-round" class="button">Neues Tippspiel erstellen</a></p>
    </section>

    <section class="card">
        <h3>Wettspiel beitreten</h3>
        <form method="POST">
            <label for="round_name">Name der Wettrunde:</label><br>
            <input type="text" id="round_name" name="round_name" placeholder="z.B. Büro-Wettrunde" required><br><br>
            <button type="submit" class="button">Beitreten</button>
        </form>
    </section>

    <section class="card">
        <h3>Meine Wettspiele</h3>
        <ul>
           {% for round in rounds %}
                <li>
                    <a href="/tippspiel/{{ round['id'] }}" class="button">{{ round["name"] }}</a>
                </li>
            {%endfor%}
        </ul>
    </section>

    <section class="card">
        <h3>Logout</h3>
        <a href="/logout" class="button">Abmelden</a>
        
    </section>
{% endblock %}