{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block content %}

<section class="card">
    <h2>Login<br><span class="small-text">Bitte gib deine Daten ein, um die anzumelden.</span></h2>
    
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form  method="POST" action="/login">
        <label>Name:</label><br>
        <input type="text" name="username" placeholder="***********"required><br><br>

        <label>Passwort:</label><br>
        <input type="password" name="password" placeholder="***********"required><br><br>

        <button type="submit" class="button">Einloggen</button>
    

        <p>Noch keinen Account?</p>  
        <a href="/register" class="button">Registrieren</a></p>
    </form>
</section>
{% endblock %}