{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

{%block content %}
    <h2>Login</h2>

    <form method="POST" action="/login">
        <label>Name:</label><br>
        <input type="text" name="username" required><br><br>

        <label>Passwort:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit" class="button">Einloggen</button>
    </form>

    <p>Noch keinen Account? <a href="/register" class="button">Registrieren</a></p>
{% endblock %}