{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

{%block content %}
    <h2 class="card">Login</h2>

    <form class="card"
        method="POST" action="/login">
        <label>Name:</label><br>
        <input type="text" name="username" required><br><br>

        <label>Passwort:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit" class="button">Einloggen</button>
    

        <p>Noch keinen Account?<br>  
        <a href="/register" class="button">Registrieren</a></p>
    </form>
{% endblock %}