{% extends "base.html" %}

{% block title %}Registrieren{% endblock %}

{% block content %}
    <h2 class="card">Registrieren- Bitte wähle einen Namen und ein Passwort</h2>

    <form class="card" method="POST">
        <label>Name:</label><br>
        <input type="text" name="username" required><br><br>

        <label>Passwort:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit" class="button">Registrieren</button>

    <p>Schon ein Konto? </p>
    <p><a href="/login" class="button">Zum Login</a></p>

    </form>
{% endblock %}