{% extends "base.html" %}

{% block title %}Registrieren{% endblock %}

{% block content %}

<section class="card">
    <h2 >Registrieren- <br><span class="small-text">Bitte wähle einen Namen und ein Passwort um ein neues Konto zu erstellen.</span></h2>


    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    
    <form  method="POST">
        <label>Name:</label><br>
        <input type="text" name="username" required><br><br>

        <label>Passwort:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit" class="button">Registrieren</button>

    <p>Schon ein Konto? </p>
    <p><a href="/login" class="button">Zum Login</a></p>

    </form>
</section>
{% endblock %}