{% extends "base.html" %}

{% block title %}Tippspiel{% endblock %}

{% block content %}
    <h2 class="card">Tipprunde</h2>

    <section class="card">
        <h3>Informationen</h3>
        <p><strong>Name:</strong> {{ round["name"] }}</p>
        <p><strong>Beschreibung:</strong> {{ round["description"] }}</p>
    </section>

    <section class="card">
        <h3>Teilnehmende</h3>
        <ul>
           {% for user in users%}
                <li>{{ user["username"] }}</li>
           {% endfor %}
        </ul>
    </section>

    <section class="card">
        <h3>Spiele und Tipps</h3>
        <p>Deine Spiele und Tipps:</p>
    </section>

    <section class="card">
        <h3>Rangliste</h3>
        <p>Rangliste der Teilnehmenden:</p>
    </section>

    <section>
       
    </section>

    <section class="card">
        <h3>Aktionen</h3>
        <form method="POST" action="/leave-round/{{ round['id'] }}">
            <button type="submit" class="button">Tipprunde verlassen</button>
        </form>

        <p><a href="/dashboard" class="button">Zurück zum Dashboard</a></p>
    </section>
{% endblock %}