{% extends "base.html" %}

{% block title %}Tippspiel{% endblock %}

{% block content %}
<section class="card">
    <h2>Tipprunde</h2>
    <h3>Informationen</h3>
    <p><strong>Name:</strong> {{ round["name"] }}</p>
    <p><strong>Beschreibung:</strong> {{ round["description"] }}</p>
</section>

{% if is_creator %}
<section class="card">
    <h3>Spiel hinzufügen</h3>
    <form method="POST" action="/add-match/{{ round ['id'] }}">
        <label for="match_date">Datum:</label><br>
        <input type="text" id="match_date" name="match_date" placeholder="z.B. 06.04.2026" required><br><br>
        <label for="home_team"> Heimmannschaft:</label><br>
        <input type="text" id="home_team" name="home_team" placeholder="z.B. Mexico"required><br><br>
        <label for="away_team"> Auswärtsmannschaft:</label><br>
        <input type="text" id="away_team" name="away_team" placeholder="z.B. Frankreich"required><br><br>
        <button type="submit" class="button">Spiel hinzufügen</button>
    </form>
</section>
{% endif %}

 <section class="card">
    <h3>Spiele und Tipps</h3>

    {% for match in matches %}
            <div style="margin-bottom: 20px;">

                <div style="display:flex; justify-content: space-between; align-items: center;">
                    <p style ="margin: 0;">
                        <strong>{{ match["match_date"]}}</strong>
                        {{ match["home_team"] }} vs {{ match["away_team"] }}
                    </p>

                    {% if is_creator %}
                        <form method="POST" action="/delete-match/{{ match['id'] }}/{{ round['id'] }}" style="display: inline;">
                            <button type="submit" class="button">Spiel löschen</button>
                            </form>
                    {% endif %}
                </div>

                {% if is_creator %}
                    {% if match["actual_home_score"] is not none and match["actual_away_score"] is not none %}
                        <p>
                            Tatsächliches Ergebnis:
                            {{ match["actual_home_score"] }} : {{ match["actual_away_score"] }}
                        </p>
                        {% else %}
                            <form method="POST" action="/save-result/{{ round['id'] }}/{{ match['id'] }}">
                                <input type="number" name="actual_home_score" placeholder="Heim" required style="width: 70px;">
                                <input type="number" name="actual_away_score" placeholder="Auswärts" required style="width: 70px;">
                                <button type="submit" class="button">Ergebnis speichern</button>
                            </form>
                    {% endif %}
                {% endif %}
              
                {% set prediction = get_prediction_by_user_and_match(current_user_id, match['id']) %}
                {% if prediction %}
                    <p>
                        Dein Tipp
                        {{ prediction["predicted_home_score"]}} : {{ prediction ["predicted_away_score"] }}
                    </p>
                    {%else%}
                        <form method="POST" action="/save-prediction/{{ round['id'] }}/{{ match['id'] }}">
                            <input type="number" name="predicted_home_score" placeholder="Heim" required style="width: 70px;">
                            <input type="number" name="predicted_away_score" placeholder="Auswärts" required style="width: 70px;">
                            <button type="submit" class="button">Tipp speichern</button>
                        </form>
                    {% endif %}
                </div>
        {% endfor %}
</section>

 <section class="card">
        <h3>Teilnehmende</h3>
        <ul>
           {% for user in users%}
                <li>{{ user["username"] }}</li>
           {% endfor %}
        </ul>
</section>

 <section class="card">
    <h3>Rangliste</h3>
    <ul>
        {% for username, points in ranking|dictsort(by='value', reverse=True)%}
            <li>{{ username }}: {{ points }} Punkt(e)</li>
        {% endfor %}
    </ul>
</section>

<section class="card">
        <h3>Aktionen</h3>
        <form method="POST" action="/leave-round/{{ round['id'] }}">
            <button type="submit" class="button">Tipprunde verlassen</button>
        </form>

        <p><a href="/dashboard" class="button">Zurück zum Dashboard</a></p>
</section>
{% endblock %}