{% extends "base.html" %}

{% block title %}Tippspiel{% endblock %}

{% block content %}
    <h2>Tipprunde</h2>

    <section>
        <h3>Informationen</h3>
        <p>Name der Tipprunde</p>
        <p>Beschreibung der Tipprunde</p>
    </section>

    <section>
        <h3>Teilnehmende</h3>
        <ul>
            <li>Keine Teilnehmenden vorhanden.</li>
        </ul>
    </section>

    <section>
        <h3>Spiele und Tipps</h3>
        <p>Deine Spiele und Tipps:</p>
    </section>

    <section>
        <h3>Rangliste</h3>
    </section>

    <p><a href="/dashboard">Zurück zum Dashboard</a></p>
{% endblock %}